############################
# GLOBAL IGNORE SETTINGS
############################

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Environment files
.env
.env.*


############################
# BACKEND (.NET)
############################
# Build results
bin/
obj/
out/
[Bb]uild/
[Bb]in/
[Oo]bj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.dbmdl

# Visual Studio
.vs/

# Logs
*.log

# Others
*.local.json


############################
# FRONTEND (React - coachify-webapp)
############################
coachify-webapp/coachify-frontend/node_modules/
coachify-webapp/coachify-frontend/build/
coachify-webapp/coachify-frontend/dist/
coachify-webapp/coachify-frontend/.next/
coachify-webapp/coachify-frontend/.turbo/

############################
# MOBILE (React Native / Expo - coachify-mobile)
############################
coachify-mobile/node_modules/
coachify-mobile/.expo/
coachify-mobile/.expo-shared/
coachify-mobile/dist/
coachify-mobile/build/
coachify-mobile/ios/
coachify-mobile/android/


######################
# local dev certs
#####################

*.pem
*.key
coachify-webapp/coachify-frontend/certs/